@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

:root {
  --nav-h: 90px;
  --hero-h: 105vh;
  --cards-h: 300px;
  --cards-pos: 110px;
  --section-color: #fff;
  --anim-style: cubic-bezier(0.4, 0.0, 0.2, 1);
  --anim-speed: 0.5s;
  --cta-w: 130px;
  --cta-lh: 26px;
  --cta-fs: 15px;
  --cw: #fff;
  --cb: #3c1642;
  --cg: #dfdfdf;
  --c1: #03C3FF;
  --c2: #FC4141;
  --c3: #3C1642;
  --c4: #c0dfe9;
  --c5: #e2eef1;
}

body {
  font-family: 'Titillium Web', sans-serif;
  overflow-x: hidden;
}


main {
  min-height: calc(100vh - var(--nav-h));
}

a, .nav-link {
  text-transform: none;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: inherit;
  letter-spacing: 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 1rem 0;
}

a {
  color: var(--cb);
}

.rating span {
  margin: 0.1rem;
}

.vertical-move {
  animation: mover 1s infinite  alternate;
}

.horizontal-move {
  animation: route 2s infinite  alternate;
}

@keyframes route {
  0% { transform: translateX(0); }
  100% { transform: translateX(-20px); }
}

@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-20px); }
}


